*.pro.user
build
demo
*.o
*.a
*.so

Makefile
btrace/Makefile
btrace/libsw-btrace.so.1
btrace/libsw-btrace.so.1.0
btrace/libsw-btrace.so.1.0.0
clang-indexer/Makefile
clang-indexer/sw-clang-indexer
compile_commands.json
cxx11-compat-test-build/
cxx11-compat-test.log
index
index-tool/Makefile
index-tool/sw-index-tool
libindexdb/Makefile
navigator/Makefile
navigator/moc_Application.cpp
navigator/moc_FindBar.cpp
navigator/moc_FolderWidget.cpp
navigator/moc_MainWindow.cpp
navigator/moc_PlaceholderLineEdit.cpp
navigator/moc_ReportDefList.cpp
navigator/moc_ReportFileList.cpp
navigator/moc_ReportRefList.cpp
navigator/moc_ReportSymList.cpp
navigator/moc_SourceWidget.cpp
navigator/moc_TableReport.cpp
navigator/moc_TableReportView.cpp
navigator/moc_TableReportWindow.cpp
navigator/qrc_navigator.cpp
navigator/sourceweb
navigator/ui_MainWindow.h
third_party/Makefile
third_party/libMurmurHash3/Makefile
third_party/libjsoncpp/Makefile
third_party/libre2/Makefile
third_party/libsha2/Makefile
third_party/libsnappy/Makefile
